<h1 style="margin:20px;text-align:center">Liste des articles</h1>
<div class="container">
  <%= paginate @articles %>
  <ul>
    <% @articles.each do |article| %>
      <li style="list-style-type:none;text-align:center;margin:5px 0px;border:2px solid black;border-radius:5px">
        <a class="list-group-item" href="/articles/<%= article.id %>">
          <h3><%= article.title %></h3>
          <% if article.category %>
            <p>(<%= article.category.name %>)<p>
          <% end %>
          <p>Par : <%= article.author %></p>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<br><br><br><br>
<h1 style="margin:20px;text-align:center">Créer un autre article</h1>
<div class="row">
  <div class="col-md-10 col-sm-offset-2">
  <%= form_tag "/articles", method: "post" do %>
    <label for"author">Votre nom (auteur) : </label>
    <input type="text" name="author">
    <label for"title">Titre de votre article : </label>
    <input type="text" name="title">
    <br><br>
    <label for"content">Contenu de votre article : </label>
    <select name="category_id" style="margin-left:40%">
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
    <textarea style="width:80%;height:200px" name="content"/></textarea>
    <br>
    <button class="btn btn-success" type="submit"/>
      <span class="glyphicon glyphicon-plus-sign"> Créer un article</span>
    </button>
    <br><br><br>
  <% end %>
  </div>
</div>
